td,
        th {
            border-radius: 8px !important;
            padding: 0.5rem;
            /* Add padding */
        }

        .json-table-cell {
            /* word-wrap: break-word;  Wrap long words */
            word-break: break-all;
            /* Break lines */
        }

        .font-semibold {
            word-break: normal !important;
        }

        /* Remove fixed width for table */
        #jsonTable {
            table-layout: auto;
        }
